<%= render "shared/header" %>

<h1>購入ページ</h1>

<div class="order-form">
  <%= form_with(model: [@item, @order], url: item_orders_path(@item), local: true, id: 'charge-form') do |f| %>
    <%= render 'layouts/error_messages', model: @order %>

    <div class="form-group">
      <%= f.label :postal_code, "郵便番号" %>
      <%= f.text_field :postal_code, class: "form-control", placeholder: "例）123-4567", maxlength: "8" %>
    </div>

    <div class="form-group">
      <%= f.label :prefecture_id, "都道府県" %>
      <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {}, { class: "form-control" } %>
    </div>

    <div class="form-group">
      <%= f.label :city, "市区町村" %>
      <%= f.text_field :city, class: "form-control", placeholder: "例）横浜市緑区" %>
    </div>

    <div class="form-group">
      <%= f.label :house_number, "番地" %>
      <%= f.text_field :house_number, class: "form-control", placeholder: "例）青山1-1-1" %>
    </div>

    <div class="form-group">
      <%= f.label :building, "建物名" %>
      <%= f.text_field :building, class: "form-control", placeholder: "例）柳ビル103" %>
    </div>

    <div class="form-group">
      <%= f.label :phone_number, "電話番号" %>
      <%= f.text_field :phone_number, class: "form-control", placeholder: "例）09012345678", maxlength: "11" %>
    </div>

    <div class="credit-card-form">
      <h1 class="info-input-haedline">クレジットカード情報入力</h1>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">カード情報</label>
          <span class="indispensable">必須</span>
        </div>
        <div id="number-form" class="input-default"></div>
        <div class='available-card'>
          <%= image_tag 'card-visa.gif', class: 'card-logo'%>
          <%= image_tag 'card-mastercard.gif', class: 'card-logo'%>
          <%= image_tag 'card-jcb.gif', class: 'card-logo'%>
          <%= image_tag 'card-amex.gif', class: 'card-logo'%>
        </div>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">有効期限</label>
          <span class="indispensable">必須</span>
        </div>
        <div class='input-expiration-date-wrap'>
          <div id="expiry-form" class="input-default"></div>
        </div>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">セキュリティコード</label>
          <span class="indispensable">必須</span>
        </div>
        <div id="cvc-form" class="input-default"></div>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "購入", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<%= render "shared/footer" %>

<script src="https://js.pay.jp/v2/pay.js"></script>
<script>
  const pay = () => {
    Payjp.setPublicKey("<%= gon.public_key %>");
    const form = document.getElementById('charge-form');
    form.addEventListener("submit", (e) => {
      e.preventDefault();
      const formResult = document.getElementById('charge-form');
      const formData = new FormData(formResult);

      const card = {
        number: formData.get("number"),
        cvc: formData.get("cvc"),
        exp_month: formData.get("exp_month"),
        exp_year: `20${formData.get("exp_year")}`,
      };

      Payjp.createToken(card).then((response) => {
        if (response.error) {
          // エラーハンドリング
        } else {
          const token = response.id;
          const renderDom = document.getElementById('charge-form');
          const tokenObj = `<input value=${token} name='token' type="hidden">`;
          renderDom.insertAdjacentHTML("beforeend", tokenObj);
        }
        document.getElementById('charge-form').submit();
      });
    });
  };

  window.addEventListener("turbo:load", pay);
</script>
