<h1>Products#new</h1>
<p>Find me in app/views/products/new.html.erb</p>
<%= form_with model: @product, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :price %>
  <%= f.number_field :price %>

  <%= f.label :category %>
  <%= f.collection_select :category_id, Category.all, :id, :name %>

  <%= f.label :condition %>
  <%= f.collection_select :condition_id, Condition.all, :id, :name %>

  <%= f.label :shipping_fee %>
  <%= f.collection_select :shipping_fee_id, ShippingFee.all, :id, :name %>

  <%= f.label :prefecture %>
  <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name %>

  <%= f.label :shipping_days %>
  <%= f.collection_select :shipping_days_id, ShippingDays.all, :id, :name %>

  <%= f.label :image %>
  <%= f.file_field :image %>

  <%= f.submit "出品する" %>
<% end %>

